@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin:0px;
    padding:0px;
}
:root{
    --cor1:#FFFFFF;
    --cor2:#BFBFBF;
    --cor3:#7A7A7A;
    --cor4:#BD0D17;
    --cor5:#000000;
    --font:'Roboto Mono';
}
body{
    background-color:#FFFFFF;
    font-family: var(--font),Arial, Helvetica, sans-serif;
    ;
}
header{
    background-image: url('../img/yu-jinyang-bE4__xIgvHg-unsplash.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 500px;
}
#menu ul{
    list-style: none;
    padding:0px;
    margin:0px;
    font-size: 1.4rem;
    font-weight: bold;
    float:right;
}
#menu ul li{display:inline}
#menu ul li a{
    text-decoration: none;
    color: black;
    padding: 3px 12px;
}
#menu ul li a:hover{
    color:var(--cor4);
    transform-origin: 0.5s;
}
#h1{
    font-size: 2rem;
    text-align: center;
}
#block{
    width: 950px;
    font-size: 1.4rem;
    margin: auto;
}
#section1{
padding-top: 150px;
padding-bottom:150px ;
background-image: url('../img/pexels-ella-olsson-1640777.jpg');
background-repeat: no-repeat;
background-size:cover;
height:660px;
margin: auto;
}

#block2{
    padding: 15px;
    background-color: var(--cor1);
    margin-top: 150px;
    margin-bottom: 150px;
    width: 650px;
    height: 650px;
    margin: auto;
    font-size: 1.5rem;
}
#block2 p{
    text-align: justify;
    font-weight: 350;
    padding: 15px;
    
    
}
main{
    width: 100%;
    margin: auto;

}
article{
    height:150px;
    font-size: 1.5rem;
}
article p{
    text-align: center;
}
article h1{
    text-align: center;
}
.content{
    display: flex;
}
.blockimg{
    width: 450px;
    height: 450px;
    margin-left: 150px;
    

}
.blockimg img{
   
    width: 100%;
}
footer{
    margin-top: 400px;
    background-color: var(--cor3);
    height: 400px;
    text-align: center;
    font-size: 1.7rem;
}
footer input{
    padding:15px;
    box-sizing: border-box;
    width: 100px;
    border: 2px solid var(--cor5);
    background-color: var(--cor3);
    color: wheat;
}
@media screen and (max-width:600px) {
    .content{
        display: block;
    }
    .blockimg{
        width: 300px;
        height: 100px;
        
        
    
    }
    .blockimg img{
       
        width: 40%;
    }
    block2{
        padding: 15px;
        background-color: var(--cor1);
        margin-top: 150px;
        margin-bottom: 150px;
        width: 660px;
        height: 660px;
        margin: auto;
        font-size: 1.5rem;
    }
}
@media screen and (min-width:380px) {
    body{
      background-color: var(--cor1);
      width: 100%;
    }
    main{
        width: 80%;
    }
    footer{
       
        width: 100%;
    }
}